body {
  background-color: #E6FAD2;
  .wrapper {
    height: 400px;
    width: 600px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: auto;
    border: 2px solid #1A4B00;
    box-shadow: 5px 5px #143701;
    background-color: #4AAB6C;
    .header {
      margin: 30px auto 10px;
      .underheader {
        font-size: 19px;
      }
    }
    .container {
      margin: 10px;
      width: 500px;
      align-items: center;
      .buttons {
        margin-bottom: 40px;
        display: flex;
        justify-content: center;
        .button {
          margin:0 10px 0;
          padding: 5px;
          background-color: #E0CF00;
          border-radius: 5px;
          font-weight: bold;
          font-size: 20px;
          border: 1px solid #4CAF50;
        }
      }
      .messages {
        display: flex;
        height: 100px;
        width: auto;
        background-color: #E6FAD2;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        word-wrap: normal;
      }
    }
  }
}
.button:hover {
  background-color: #4CAF50;
  color: white;
}
.button:focus {
  outline: none;
}
